/* Post.css */

.post-container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .post-header {
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    margin: 0;
  }
  
  .content {
    padding: 20px;
  }
  
  .post-box {
    max-width: 600px; 
    margin: auto;
  }
  
  
