.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-logo {
    max-width: 10%;
    max-height: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}